In [1]:
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn import cross_validation
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, accuracy_score
import numpy as np

data = pd.read_csv("SubmissionFile.csv")

In [17]:
data.head()

               Id  Pred  Wteam  Lteam  Year
0  2016_1112_1114   0.5    NaN    NaN  2016
1  2016_1112_1122   0.5    NaN    NaN  2016
2  2016_1112_1124   0.5    NaN    NaN  2016
3  2016_1112_1138   0.5    NaN    NaN  2016
4  2016_1112_1139   0.5    NaN    NaN  2016

In [18]:
data2 = data[data['Id'].str.contains("2016_1112")]

In [19]:
data2.head()

               Id  Pred  Wteam  Lteam  Year
0  2016_1112_1114   0.5    NaN    NaN  2016
1  2016_1112_1122   0.5    NaN    NaN  2016
2  2016_1112_1124   0.5    NaN    NaN  2016
3  2016_1112_1138   0.5    NaN    NaN  2016
4  2016_1112_1139   0.5    NaN    NaN  2016

In [26]:
data2.Wteam.assign('1112')

AttributeError: 'Series' object has no attribute 'assign'

In [35]:
data.Lteam = data.Id.str[10:14]

In [36]:
data

                  Id  Pred Wteam Lteam  Year
0     2016_1112_1114   0.5  1112  1114  2016
1     2016_1112_1122   0.5  1112  1122  2016
2     2016_1112_1124   0.5  1112  1124  2016
3     2016_1112_1138   0.5  1112  1138  2016
4     2016_1112_1139   0.5  1112  1139  2016
5     2016_1112_1143   0.5  1112  1143  2016
6     2016_1112_1151   0.5  1112  1151  2016
7     2016_1112_1153   0.5  1112  1153  2016
8     2016_1112_1160   0.5  1112  1160  2016
9     2016_1112_1163   0.5  1112  1163  2016
10    2016_1112_1167   0.5  1112  1167  2016
11    2016_1112_1173   0.5  1112  1173  2016
12    2016_1112_1181   0.5  1112  1181  2016
13    2016_1112_1192   0.5  1112  1192  2016
14    2016_1112_1195   0.5  1112  1195  2016
15    2016_1112_1201   0.5  1112  1201  2016
16    2016_1112_1211   0.5  1112  1211  2016
17    2016_1112_1214   0.5  1112  1214  2016
18    2016_1112_1218   0.5  1112  1218  2016
19    2016_1112_1221   0.5  1112  1221  2016
20    2016_1112_1231   0.5  1112  1231  2016
21    2016_1112_1233   0.5  1112  1233  2016
22    2016_1112_1234   0.5  1112  1234  2016
23    2016_1112_1235   0.5  1112  1235  2016
24    2016_1112_1242   0.5  1112  1242  2016
25    2016_1112_1246   0.5  1112  1246  2016
26    2016_1112_1268   0.5  1112  1268  2016
27    2016_1112_1274   0.5  1112  1274  2016
28    2016_1112_1276   0.5  1112  1276  2016
29    2016_1112_1277   0.5  1112  1277  2016
...              ...   ...   ...   ...   ...
2248  2016_1437_1462   0.5  1437  1462  2016
2249  2016_1437_1463   0.5  1437  1463  2016
2250  2016_1438_1451   0.5  1438  1451  2016
2251  2016_1438_1452   0.5  1438  1452  2016
2252  2016_1438_1453   0.5  1438  1453  2016
2253  2016_1438_1455   0.5  1438  1455  2016
2254  2016_1438_1458   0.5  1438  1458  2016
2255  2016_1438_1462   0.5  1438  1462  2016
2256  2016_1438_1463   0.5  1438  1463  2016
2257  2016_1451_1452   0.5  1451  1452  2016
2258  2016_1451_1453   0.5  1451  1453  2016
2259  2016_1451_1455   0.5  1451  1455  2016
2260  2016_1451_1458   0.5  1451  1458  2016
2261  2016_1451_1462   0.5  1451  1462  2016
2262  2016_1451_1463   0.5  1451  1463  2016
2263  2016_1452_1453   0.5  1452  1453  2016
2264  2016_1452_1455   0.5  1452  1455  2016
2265  2016_1452_1458   0.5  1452  1458  2016
2266  2016_1452_1462   0.5  1452  1462  2016
2267  2016_1452_1463   0.5  1452  1463  2016
2268  2016_1453_1455   0.5  1453  1455  2016
2269  2016_1453_1458   0.5  1453  1458  2016
2270  2016_1453_1462   0.5  1453  1462  2016
2271  2016_1453_1463   0.5  1453  1463  2016
2272  2016_1455_1458   0.5  1455  1458  2016
2273  2016_1455_1462   0.5  1455  1462  2016
2274  2016_1455_1463   0.5  1455  1463  2016
2275  2016_1458_1462   0.5  1458  1462  2016
2276  2016_1458_1463   0.5  1458  1463  2016
2277  2016_1462_1463   0.5  1462  1463  2016

[2278 rows x 5 columns]

In [37]:
data.to_csv("SubmissionData.csv", index=False)