In [2]:
from pyspark import SparkContext, RDD, sql
from pyspark.mllib.regression import LabeledPoint
from pyspark.mllib.recommendation import ALS, MatrixFactorizationModel, Rating
from pyspark.mllib.util import MLUtils
import pandas as pd

In [8]:
sc = SparkContext(appName="CollaborativeFiltering")
sc.setLogLevel("ERROR")

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=CollaborativeFiltering, master=local[*]) created by __init__ at <ipython-input-3-410bac322934>:1

In [35]:
data = pd.read_csv("../ml-100k/u.data", sep="\t", quoting=2, names=[
    "user id", "item id", "rating", "timestamp"
])

df = pd.read_table("../ml-100k/data.csv", sep=",")
userID = data['user id']
itemID = data['item id']
df = pd.concat([userID, df], axis=1)
df = pd.concat([itemID, df], axis=1)

In [37]:
target = df['rating']
titles = df['movie title']
URLs = df['IMDb URL']
del df['movie title']
del df['rating']
del df['IMDb URL']

In [49]:
df['release date'] = pd.to_datetime(df['release date'])
df

,item id,user id,age,gender,occupation,zip code,release date,unknown,Action,Adventure,...,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,timestamp
0,242,196,49,M,writer,55105,1997-01-24,0,0,0,...,0,0,0,0,0,0,0,0,0,881250949
1,302,186,39,F,executive,00000,1997-01-01,0,0,0,...,1,0,0,1,0,0,1,0,0,891717742
2,377,22,25,M,writer,40206,1994-01-01,0,0,0,...,0,0,0,0,0,0,0,0,0,878887116
3,51,244,28,M,technician,80525,1994-01-01,0,0,0,...,0,0,0,0,1,0,0,1,1,880606923
4,346,166,47,M,educator,55113,1997-01-01,0,0,0,...,0,0,0,0,0,0,0,0,0,886397596
5,474,298,44,M,executive,01581,1963-01-01,0,0,0,...,0,0,0,0,0,1,0,1,0,884182806
6,265,115,31,M,engineer,17110,1990-01-01,0,1,0,...,0,0,0,0,0,0,1,0,0,881171488
7,465,253,26,F,librarian,22903,1994-01-01,0,0,1,...,0,0,0,0,1,0,0,0,0,891628467
8,451,305,23,M,programmer,94086,1978-01-01,0,0,0,...,0,0,1,0,1,0,0,0,0,886324817
9,86,6,42,M,executive,98101,1993-01-01,0,0,0,...,0,0,0,0,0,0,0,0,0,883603013
10,257,62,27,F,administrator,97214,1997-07-04,0,1,1,...,0,0,0,0,0,1,0,0,0,879372434
11,1014,286,27,M,student,15217,1997-04-25,0,0,0,...,0,0,0,0,0,0,0,0,0,879781125
12,222,200,40,M,programmer,93402,1996-11-22,0,1,1,...,0,0,0,0,0,1,0,0,0,876042340
13,40,210,39,M,engineer,03060,1995-01-01,0,0,0,...,0,0,0,0,0,0,0,0,0,891035994
14,29,224,31,F,educator,43512,1995-01-01,0,1,1,...,0,0,0,0,0,0,0,0,0,888104457
15,785,303,19,M,student,14853,1994-01-01,0,0,0,...,0,0,0,0,1,0,0,0,0,879485318
16,387,122,32,F,writer,22206,1993-01-01,0,0,0,...,0,0,0,0,0,0,0,0,0,879270459
17,274,194,38,M,administrator,02154,1995-01-01,0,0,0,...,0,0,0,0,1,0,0,0,0,879539794
18,1042,291,19,M,student,44106,1995-01-01,0,0,0,...,0,0,0,1,0,0,1,0,0,874834944
19,1184,234,60,M,retired,94702,1994-01-01,0,0,0,...,0,0,0,0,0,0,0,0,0,892079237
20,392,119,32,M,programmer,67401,1993-01-01,0,0,0,...,0,0,0,0,0,0,0,0,0,886176814
21,486,167,37,M,other,L9G2B,1954-01-01,0,0,0,...,0,0,0,0,1,0,0,0,0,892738452
22,144,299,29,M,doctor,63108,1988-01-01,0,1,0,...,0,0,0,0,0,0,1,0,0,877881320
23,118,291,19,M,student,44106,1996-05-10,0,1,1,...,0,0,0,0,0,0,1,0,0,874833878
24,1,308,60,M,retired,95076,1995-01-01,0,0,0,...,0,0,0,0,0,0,0,0,0,887736532
25,546,95,31,M,administrator,10707,1996-02-09,0,1,0,...,0,0,0,0,0,0,1,0,0,879196566
26,95,38,28,F,other,54467,1992-01-01,0,0,0,...,0,0,1,0,0,0,0,0,0,892430094
27,768,102,38,M,programmer,30220,1995-01-01,0,0,1,...,0,0,0,0,0,0,0,0,0,883748450
28,277,63,31,M,marketing,75240,1995-01-01,0,0,0,...,0,0,0,0,0,0,0,0,0,875747401
29,234,160,27,M,programmer,66215,1975-01-01,0,1,0,...,0,1,0,0,0,0,0,0,0,876861185
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,120,449,23,M,librarian,55021,1996-06-28,0,0,0,...,0,0,0,0,0,0,0,0,0,879959573
99971,762,661,28,M,programmer,98121,1996-02-09,0,0,0,...,0,0,0,0,0,0,0,0,0,876037121
99972,874,721,24,F,entertainment,11238,1997-08-08,0,0,0,...,0,0,0,0,0,0,0,0,0,877137447
99973,151,821,37,M,engineer,77845,1971-01-01,0,0,1,...,0,0,0,0,0,0,0,0,0,874792889
99974,596,764,27,F,educator,62903,1996-06-21,0,0,0,...,0,0,1,0,0,0,0,0,0,876243046
99975,443,537,36,M,engineer,22902,1963-01-01,0,0,0,...,0,1,0,0,0,0,0,0,0,886031752
99976,628,618,15,F,student,44212,1996-10-18,0,0,0,...,0,0,0,0,0,0,0,0,0,891308019
99977,291,487,22,M,engineer,92121,1997-02-14,0,0,0,...,0,0,0,1,0,0,1,0,0,883445079
99978,975,113,47,M,executive,95032,1996-04-12,0,0,0,...,0,0,0,0,0,0,1,0,0,875936424
99979,391,943,22,M,student,77841,1993-01-01,0,1,0,...,0,0,0,0,0,0,0,0,0,888640291
99980,685,864,27,M,programmer,63021,1996-03-09,0,1,0,...,0,0,0,0,0,0,1,0,0,888891900
99981,323,750,28,M,administrator,32303,1997-02-07,0,1,0,...,0,0,0,0,0,0,1,0,0,879445877
99982,64,279,33,M,programmer,85251,1994-01-01,0,0,0,...,0,0,0,0,0,0,0,0,0,875308510
99983,750,646,17,F,student,51250,1997-12-18,0,0,0,...,0,0,0,0,0,0,0,0,0,888528902
99984,370,654,27,F,student,78739,1996-02-23,0,0,0,...,0,0,0,0,0,0,1,0,0,887863914
99985,582,617,27,F,writer,11201,1993-01-01,0,0,0,...,0,0,0,0,1,0,0,0,0,883789294
99986,690,913,27,M,student,76201,1997-01-01,0,0,0,...,0,0,0,0,0,0,0,1,0,880824288
99987,229,660,26,M,student,77380,1984-01-01,0,1,1,...,0,0,0,0,0,1,0,0,0,891406212
99988,498,421,38,F,programmer,55105,1951-01-01,0,1,1,...,0,0,0,0,1,0,0,1,0,892241344
99989,1091,495,29,M,engineer,03052,1977-01-01,0,0,1,...,0,0,1,0,0,0,0,0,0,888637503
99990,421,806,27,M,marketing,11217,1996-10-25,0,0,0,...,0,0,0,0,1,0,0,0,0,882388897
99991,538,676,30,M,programmer,32712,1997-01-01,0,0,0,...,0,0,1,0,0,0,0,0,0,892685437
99992,262,721,24,F,entertainment,11238,1997-08-01,0,0,0,...,0,0,0,0,0,0,0,0,0,877137285
99993,209,913,27,M,student,76201,1984-01-01,0,0,0,...,0,0,1,0,0,0,0,0,0,881367150
99994,78,378,35,M,student,02859,1993-01-01,0,0,1,...,0,0,0,0,0,0,0,0,0,880056976
99995,476,880,13,M,student,83702,1996-09-14,0,0,0,...,0,0,0,0,0,0,0,0,0,880175444
99996,204,716,36,F,administrator,44265,1985-01-01,0,0,0,...,0,0,0,0,0,1,0,0,0,879795543
99997,1090,276,21,M,student,95064,1993-01-01,0,0,0,...,0,0,0,0,0,0,1,0,0,874795795
99998,225,13,47,M,educator,29206,1996-11-27,0,0,0,...,0,0,0,0,0,0,0,0,0,882399156
99999,203,12,28,F,other,06405,1992-01-01,0,0,0,...,0,0,0,0,0,0,0,0,1,879959583